@import "./mixin";

:root {
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Colour ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --desaturatedDarkCyan: hsl(180, 29%, 50%);

    --lightGrayishCyan: hsl(180, 52%, 96%);
    --lightGrayishCyan: hsl(180, 31%, 95%);
    --darkGrayishCyan: hsl(180, 8%, 52%);
    --veryDarkGrayishCyan: hsl(180, 14%, 20%);

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Gap ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --gap0-25: 0.25rem;
    --gap0-5: 0.5rem;
    --gap0-75: 0.75rem;
    --gap1: 1rem;
    --gap1-5: 1.5rem;
    --gap2: 2rem;
    --gap2-5: 2.5rem;
    --gap3: 3rem;
    --gap4: 4rem;
    --gap5: 5rem;
    --gap6: 6rem;

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Size ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --sizeHeader: 10rem;
    --sizeIcon: 0.75rem;
    --sizeAvater: 5rem;
    --sizeSep: 0.25rem;

    @include medium() {
        --sizeAvater: 3.5rem;
    }

    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    // ----- ----- ----- ----- ----- Z Index ----- ----- ----- -----
    // ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    --zIndex: 1;
}
