.header {
  height: var(--sizeHeader);
  background-color: var(--desaturatedDarkCyan);
  background-image: url("../../asset/img/bg-header-desktop.svg");
  background-size: cover;
  background-position: bottom;
}
